# Credentials / Secrets
.env

# Environments
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build outputs
build/
dist/
*.spec

# IDEs and editors
.vscode/
.idea/

